$bp-large: 75em; // 16*75=1200px
$bp-md: 56.25em; // 16*56.25=900px
$bp-sm: 37.5em; // 16*37.5=600px

$color-grey-light-1: #f7f8f3;
$color-grey-light-2: #faf8ed;
$color-grey-light-3: #ddd;
$color-grey-dark-1: #777;
$color-white: #fff;
$color-red: #f95a37;
$color-green: #55c57a;
$color-blue: #097bc7;

html {
  font-size: 62.5%; // 1rem = 10px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%; // 1rem = 8px
  }

  @media only screen and (max-width: $bp-md) {
    font-size: 37.5%; // 1rem = 6px
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.bg-green {
  color: $color-white;
  background-color: $color-green;
}

.bg-red {
  color: $color-white;
  background-color: $color-red;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 18rem;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}