.btn {
  &-sm {
    padding: 1rem 2rem;
    background-color: #043353;
    color: $color-white;
    border-radius: 7px;
    font-size: 1.2rem;
    transition: ease 0.3s;

    &:hover {
      background-color: lighten(#043353, 10%);
    }
  }
}