.header {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__img {
    width: 40rem;
    height: 40rem;

    @media only screen and (max-width: $bp-md) {
      width: 37rem;
      height: 37rem;
    }

    @media only screen and (max-width: $bp-sm) {
      width: 34rem;
      height: 34rem;
    }
  }

  &__head {
    font-size: 4rem;
    margin: 2rem 1rem;
  }

  &__start {
    font-size: 2rem;
  }
}