.quiz {
  @media only screen and (max-width: $bp-sm) {
    margin: 1rem;
  }

  &__row {
    display: flex;
    align-items: center;
    margin: 5rem;

    @media only screen and (max-width: $bp-sm) {
      flex-direction: column;
      margin: 0;
    }
  }

  &__container,
  &__img--container {
    display: flex;
    align-items: center;
    animation: fade-in ease 1000ms;
  }

  &__container {
    flex-direction: column;
    margin-right: 5rem;

    @media only screen and (max-width: $bp-sm) {
      order: 2;
      margin-right: 0;
    }
  }

  &__img--container {

    @media only screen and (max-width: $bp-sm) {
      order: 1;
      margin-bottom: 5rem;
    }
  }

  &__img {
    width: 40rem;
    height: 40rem;

    @media only screen and (max-width: $bp-md) {
      width: 30rem;
      height: 30rem;
    }

    @media only screen and (max-width: $bp-sm) {
      width: 25rem;
      height: 25rem;
    }
  }

  &__answer {
    &--select {
      font-size: 1.4rem;
      padding: 1rem 1rem 1rem 0;
      margin: 2rem;
      width: 35rem;
      min-width: 10rem;
      border-radius: 7px;
      border: 2px solid $color-grey-light-3;
      transition: all .1s;

      @media only screen and (max-width: $bp-sm) {
        width: 20rem;
      }

      &:hover,
      &:hover span {
        // border: 2px solid $color-green;
        border: 2px solid $color-blue;
        background-color: $color-blue;
        color: $color-white;
      }
    }
  }

  &__question {
    font-size: 1.6rem;
    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-sm) {
      text-align: center;
    }
  }

  &__span {
    width: 35rem;
    border: 2px solid $color-green;
    background-color: $color-green;
    font-size: 1.4rem;
    padding: 1rem;
    margin-right: 1rem;
  }

  &__next-page {
    display: flex;
    justify-content: center;
    width: 18rem;
    font-size: 1.4rem;
    padding: 1rem;
    margin: 2rem;
    background-color: $color-green;
    color: $color-white;
    transition: all 0.3s;

    &:hover {
      background-color: darken($color-green, 10%);
    }
  }

  &__result {
    font-size: 5rem;
    color: $color-blue;
    text-align: center;
    margin-right: 5rem;

    @media only screen and (max-width: $bp-sm) {
      margin-right: 0;
    }
  }
}