*,
*::before,
*::after {
  margin: 0 auto;
  padding: 0;
  border: none;
  outline: none;
  font-family: 'Solway', serif;
  line-height: 1.5;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
  overflow: hidden;
  box-sizing: inherit;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  direction: ltr;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

a {
  display: block;
  line-height: 1;
  cursor: pointer;
}

button {
  font-size: inherit;
}